html{
    box-sizing: border-box;

font-size:62.5%; /**reset para rems - 62.5% =10px de 16px;**/
}
*,*:before,*::after{
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;

font-size:1.6rem;
line-height:2;
}

/**Globales**/
.contenedor{
    max-width: 1200px;
    width:95%;
    margin:0 auto;
}
h1,h2,h3,h4{font-family: 'PT Sans', sans-serif;}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
    line-height: 1.2;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.centrar-texto{
    text-align: center;
}
.no-margin{
    margin:0;
}
.iconify{
    background: url('https://api.iconify.design/bx/bxs-coffee-togo.svg?color=white') no-repeat center center / contain;
    
    padding:2.1rem;
    
}
/** botones*/
.btn{
    display: block;
    text-align: center;
    padding:1rem 3rem;
    margin: 2rem 0;
    color:white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:2rem;
}
@media (min-width:768px){
    .btn{
        display: inline-block;
    }
    
}
.btn-primary{
    background-color: #000000;
}
.btn-secundario{
background-color: #784d3c;
}
/** Header */
@media(min-width:768px) {
    .barra{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
}
.site-header{
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height:60rem;

}

.site-header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.site-header h1{
    text-align:center;
    font-weight:400;
}
.site-header h1 span{
    font-weight:700;
}
/**navegacion**/
.navegacion a{
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color:white;
    text-decoration: none;
}
@media (min-width:768px){
    .navegacion a{
        display: inline;
    margin-right:2rem;    
    }
    .navegacion a:last-of-type{
        margin:0;
    }
}
 
/**header**/
.texto-header{
    color:rgb(255, 255, 255);
    text-align:center;
    margin-top:5rem;
}
@media (min-width:768px){
    .texto-header{
        margin-top:15rem;
    
}
}
.texto-header p{
    font-size:2.2rem;
}
/**contenido principal home**/
.contenido-principal{
    display:flex;
    flex-wrap: wrap;
}
.blog,
.cursos{ 
    flex: 0 0 100%;
}
.cursos{
    order:-1;

}
@media (min-width:768px){
    .contenido-principal{
        justify-content:space-between;
    }
    .blog{
        flex-basis: 66,6%;
        order:-1;
        
    }
    .cursos{
        flex-basis:calc(33,3% - 4rem);
        
        
       
    }
    
}

.entrada-blog{
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}
.entrada-blog:last-of-type{
    border:none;
}
/**cursos**/
.cursos-lista{
    padding:0;
    list-style:none;

}
.curso{
    padding-bottom: 3rem;
    border-bottom: 1px solid #e1e1e1;
}
.curso:last-of-type{
    border-bottom: none;
}
.curso p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.curso p span{
    font-weight: 400;
}
/**footer**/
.site-footer{
    background-color: #000000;
    padding: 3rem;
    margin-top:4rem ;
}
.site-footer p{
    color:white;
    font-size:4rem;
    font-weight: 400;
    font-family:'PT sans',sans-serif;
    text-align: center;
}
.site-footer p span{
    font-weight: 700;
}
